<%= form_for [@game, @ticket], html: { class: 'form-horizontal' } do |f| %>

    <div class="control-group">
      <%= f.label 'Game', class: 'control-label' %>
      <div class="controls">
        <span class="help-block"><%= @game.title %></span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Ticket Holder', class: 'control-label' %>
      <div class="controls">
        <span class="help-block"><%= @ticket.user.email %></span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Price', class: 'control-label' %>
      <div class="controls">
        <span class="help-block"><%= @ticket.price %></span>
      </div>
    </div>

    <div class="form-actions">
      <script
      src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe_public %>"
      data-name="<%= @game.title %>"
      data-description="<%= @ticket.description %>">
      </script>
    </div>
<% end %>