<h1>Listing games</h1>

<table>
  <tr>
    <th>Home team</th>
    <th>Away team</th>
    <th>Venue</th>
    <th>Starts at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.home_team_name %></td>
    <td><%= game.away_team_name %></td>
    <td><%= game.venue_name %></td>
    <td><%= game.starts_at.to_s(:long) %></td>
    <td><%= link_to 'Show', game %></td>
  </tr>
<% end %>
</table>