<h1>Listing games</h1>

<table class="table">
  <tr>
    <th>Home team</th>
    <th>Away team</th>
    <th>Venue</th>
    <th>Starts at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.home_team_name, game.home_team %></td>
    <td><%= link_to game.away_team_name, game.away_team %></td>
    <td><%= link_to game.venue_name, game.venue %></td>
    <td><%= game.starts_at.to_s(:long) %></td>
    <td><%= link_to 'Show', game %></td>
  </tr>
<% end %>
</table>