<p id="notice"><%= notice %></p>

<p>
  <b>Home team:</b>
  <%= @game.home_team_name %>
</p>

<p>
  <b>Away team:</b>
  <%= @game.away_team_name %>
</p>

<p>
  <b>Away team score:</b>
  <%= @game.away_score %>
</p>


<p>
  <b>Venue:</b>
  <%= @game.venue_name %>
</p>

<p>
  <b>Starts at:</b>
  <%= @game.starts_at %>
</p>


<%= link_to 'Back', games_path %>
