<tr>
  <td><%= player.first_name %></td>
  <td><%= player.last_name %></td>
  <td><%= player.number %></td>
  <td><%= player.team_name %></td>
  <td><%= link_to 'Show', player %></td>
  <td><%= link_to 'Edit', edit_player_path(player) %></td>
  <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>